<h1>
    <%= gravatar_for @user %>
    <%= @user.name %>
</h1>

    <br>
    <br>
    
<div class="row">
  <div class="col-md-6 col-md-offset-5">

    <p><strong>Email：</strong><%= @user.email %></p>
    <p><strong>地域：</strong><%= @user.region %></p>
    
  </div>
</div>
